/* ---------- Index ---------- */
/*  1. General                 */
/*  2. Colours                 */
/*  3. Typography              */
/*  4. Navigation styles       */
/*  5. Main                    */
/*  6. Intro                   */
/*  7. Sections                */
/*  8. Results                 */
/*  9. Footer                  */
/* --------------------------- */
/* 1. General */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --clr-black: black;
  --clr-dark: #262626;
  --clr-light: #eee;
  --clr-white: white;
  --clr-primary-dark: #256580;
  --clr-primary: #509bbb;
  --clr-primary-light: #c7e1e9;
  --clr-overlay-brighten: rgba(255, 255, 255, 0.2);
  --clr-overlay-darken: rgba(0, 0, 0, 0.15);
  --clr-overlay-darken-30: rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--clr-white);
  font-family: "Roboto", "Work Sans", sans-serif;
  font-weight: 400;
  color: var(--clr-dark);
}

@media screen and (min-width: 1000px) {
  body {
    background: var(--clr-light);
  }
}
img {
  max-width: 100%;
}

::selection {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    transition-delay: 0ms !important;
    scroll-behavior: auto !important;
    -webkit-animation-duration: 1 !important;
    -webkit-animation-iteration-count: 1 !important;
  }
}
.btn {
  padding: 0.75em 1.5em;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  display: inline-block;
  border: 0;
  line-height: 1;
  background: none;
  text-align: center;
  font-weight: 600;
  box-sizing: border-box;
  --btn-clr: rgb(--clr-light);
  --btn-outline: 2px solid var(--btn-clr);
  color: var(--btn-clr);
  outline: var(--btn-outline);
  border: var(--btn-outline);
  outline-offset: -2px;
  transition: outline-width 200ms ease, outline-offset 200ms ease;
}

.btn:hover,
.btn:focus {
  outline: var(--btn-outline);
  outline-width: 8px;
  outline-offset: -8px;
}

.bg-prim-dark {
  background: var(--clr-primary-dark);
  color: var(--clr-light);
}

.bg-light {
  background: var(--clr-light);
  color: var(--clr-dark);
}

.bg-white {
  background: var(--clr-white);
  color: var(--clr-dark);
}

.clr-primary {
  color: var(--clr-primary);
}

/* 3. Typography */
h1,
h2,
h3 {
  line-height: 1.1;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

p {
  margin: 1em auto;
  line-height: 1.6;
  max-width: 50ch;
}

.txt-underline {
  --underline-clr: var(--clr-primary);
  color: var(--underline-clr);
  position: relative;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.txt-underline::after {
  background-color: var(--underline-clr);
  content: "";
  position: absolute;
  bottom: -0.125em;
  left: -0.25em;
  right: -0.25em;
  height: 2px;
}

/* 4. Navigation */
:root {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

/* Total height of main header is 64.4rem
    h3 has a size of 1.75rem, a 1.1 lineheight
    and top and bottom margin of 0.6 em
    1.75*1.1 + 1.75*0.6*2 = 64.4
*/
.main-header {
  background: var(--clr-primary-dark);
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 -4px 4px 4px black;
}

.main-header a {
  text-decoration: none;
}

.main-header h3 {
  color: var(--clr-light);
  margin: 0.6em;
}

.main-header h3:focus,
.main-header h3:hover {
  color: var(--clr-primary-light);
}

nav {
  background: var(--clr-primary-dark);
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: var(--clr-light);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppsercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover,
nav a:focus {
  color: var(--clr-primary-light);
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--clr-light);
  height: 3px;
  width: 2em;
  border-radius: 3px;
  position: relative;
  transition-property: transform opacity background-color;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1s;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
  transform: rotate(180deg);
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: translateY(7px) rotate(45deg);
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: translateY(-7px) rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2/span 1;
  }

  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: "";
    height: 5px;
    background: var(--clr-primary-light);
    position: absolute;
    bottom: -0.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before,
nav a:focus::before {
    transform: scale(1, 1);
    transition: transform ease-in-out 250ms;
  }

  /* Scrollspy 
  This only works if the nav is underneath the sections we are changing, 
  which would ruin the site from accessability point of view. 

  section#about:hover ~ nav a[href="#about"] {
    background-color: red;
  }*/
}
@media screen and (min-width: 1000px) {
  header {
    grid-template-columns: minmax(1.5rem, 1fr) minmax(auto, 500px) 500px minmax(1.5rem, 1fr);
  }

  .logo {
    grid-column: 2/span 1;
  }
  .logo h3 {
    text-align: left;
    margin: 0.6em 0;
  }

  nav ul {
    width: 100%;
    justify-content: space-between;
  }
  nav li {
    margin: 0;
  }
}
.skip-nav {
  position: absolute;
  color: var(--clr-primary-dark);
  background-color: var(--clr-white);
  padding: 0.5em 1.5em;
  border-radius: 0 0.25em 0.25em 0;
  top: 0.6em;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateX(-120%);
  transition: transform 325ms ease-in;
}

.skip-nav:focus {
  transform: translateX(0);
}

main {
  margin-top: 4rem;
}

@media screen and (min-width: 1000px) {
  main {
    background-color: var(--clr-white);
    border: var(--clr-primary-dark) 1.5em solid;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 8em auto 5em;
    display: flex;
    flex-direction: column;
  }

  .bg-light {
    background-color: var(--clr-white);
  }
}
.sec {
  padding: 2em 2em;
}

.captions p {
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.container img {
  border-radius: 0.5em;
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.sec svg {
  max-width: 100%;
}

.sec a {
  color: var(--clr-primary-dark);
  font-weight: 700;
}

.sec a:visited {
  color: var(--clr-primary);
}

/* removing the space means the img and .tall are both part of the same selector */
img.tall {
  width: auto;
  max-width: auto;
  margin: 0 auto;
  display: block;
}

img.short {
  object-fit: scale-down;
}

img.phone {
  border: 0.2rem solid var(--clr-primary-dark);
  height: 22em;
}

.textblock h3 {
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.25rem;
}
.textblock p {
  margin: 0.5rem auto;
}
.textblock p:last-child {
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .sec {
    padding: 3em 2em;
  }
  .sec h2 {
    margin-bottom: 1.5em;
  }
  .sec:last-of-type {
    padding-bottom: 4rem;
  }

  .sec .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 2em;
    place-items: center;
  }

  .container .left {
    grid-column: 1/2;
  }

  .container .right {
    grid-column: 2/3;
  }

  .textblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.results img {
  display: block;
  max-width: 80vw;
  max-height: 60vh;
  margin: 0 auto;
  border-radius: 0.5em;
}

.results a {
  display: block;
  margin-top: 0;
  color: var(--clr-primary-dark);
  font-weight: 700;
}

.results a:visited {
  color: var(--clr-primary);
}

.results .btn {
  display: block;
  --btn-clr: var(--clr-primary);
  background: var(--clr-white);
  width: 12em;
  margin: 2em auto 0;
  /*border: 4px var(--btn-clr) solid;*/
}

.results .btn:visited {
  color: var(--btn-clr);
}

.captions {
  width: max-content;
  margin: 0 auto;
}

#enlarger {
  display: none;
}
#enlarger + label p {
  display: none;
}

@media screen and (min-width: 800px) {
  .results > img {
    float: right;
    max-width: 33%;
    max-height: 40vh;
    margin-left: 1em;
    margin-bottom: 0.5em;
    margin-right: 15%;
  }

  .captions {
    float: right;
    max-width: 33%;
    margin-left: 1em;
    margin-bottom: 0;
    margin-right: 15%;
  }
  .captions img {
    max-width: 100%;
    margin: 0 auto;
  }

  #enlarger + label {
    display: block;
    cursor: pointer;
  }
  #enlarger + label p {
    display: block;
  }
  #enlarger + label::before, #enlarger + label::after {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    pointer-events: none;
  }
  #enlarger + label::before {
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    z-index: 1000;
    background-color: var(--clr-overlay-darken-30);
    transition: opacity 350ms ease-in 150ms;
  }
  #enlarger + label::after {
    height: min(75vw, 75vh);
    width: min(90vw, 100vh);
    background-color: white;
    background-image: var(--enlarge-img);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1em solid white;
    border-radius: 1em;
    z-index: 1001;
    transform: translate(-50%, -50%);
    transition: opacity 250ms ease-out;
    transform-origin: top left;
  }
  #enlarger:checked + label::before {
    opacity: 1;
    pointer-events: initial;
    transition: opacity 250ms ease-out;
  }
  #enlarger:checked + label::after {
    opacity: 1;
    pointer-events: initial;
    transition: opacity 250ms ease-in;
  }
}
/* 10. Footer */
footer {
  padding: 1em 1.5em;
  text-align: center;
}

footer .txt-underline {
  --underline-clr: var(--clr-light);
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  max-width: 50ch;
  margin: 2rem auto;
}

.icon-link {
  text-decoration: none;
  padding: 0 auto;
  display: grid;
  place-content: center;
  background-color: var(--clr-light);
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.icon-link i {
  margin: 0;
  color: var(--clr-primary-dark);
}

.icon-link:focus,
.icon-link:hover {
  background-color: var(--clr-primary-light);
  transform: scale(1.2);
}

.footer-btn {
  font-size: 1rem;
  text-transform: capitalize;
  --btn-clr: var(--clr-light);
  background: var(--clr-primary);
  min-width: 12em;
  margin: 1.25em auto 1em;
}

.container-contact1 {
  margin: 1em auto 3em;
  padding: 0;
  max-width: 60ch;
}

.input1 {
  width: 100%;
  font-family: "Roboto", "Work Sans", sans-serif;
  background: transparent;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  outline: 0;
  border: 2px solid var(--clr-white);
  padding: 0.75em;
}
.input1:valid {
  background: white;
}
.input1:focus {
  border-color: var(--clr-primary);
  padding: 4px 6px 16px 6px;
}
.input1:focus + label {
  background: var(--clr-primary);
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
  top: 100%;
  margin-top: -16px;
}

textarea.input1 {
  display: block;
  resize: vertical;
  height: 8em;
}

.contact1-form-btn {
  font-size: 1rem;
  text-transform: capitalize;
  --btn-clr: var(--clr-light);
  background: var(--clr-primary);
  min-width: 12em;
  margin: 1.25em auto 1em;
}

.contact1-form label {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #0005;
  text-align: left;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.75em;
}

.wrap-input1 {
  margin: 1em 0;
  position: relative;
  background: white;
}

@media screen and (min-width: 800px) {
  .contact1-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 1em;
  }
  .contact1-form * {
    grid-column: 1/-1;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact1-form .input1-short {
    grid-column: span 1;
  }
}
.obj-pos-top {
  object-position: top center;
}

/* 2. Colours */
/* 3. Typography */
p {
  max-width: 60ch;
}

/* 4. Navigation */
/* 5. Main */
/* 6. Intro */
.intro-headers {
  background-image: linear-gradient(to bottom, rgba(37, 101, 128, 0.2) 0%, rgba(37, 101, 128, 0.8) 100%), url("../img/privacycoin/pc-conceptart.jpg");
  background-size: auto 100%;
  background-position: center center;
  padding: 4em 2em 2em;
  border-bottom: var(--clr-light) 2px solid;
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 400px) {
  .intro-headers {
    background-size: 100% auto;
  }
}
.intro-headers h3 {
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
}

.intro-content {
  padding: 1em 2em;
}

.intro-content ol {
  max-width: 60ch;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .intro {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .intro-headers {
    border-bottom: none;
    background-size: auto 100%;
  }

  .intro-headers h2 {
    text-align: right;
    margin-bottom: 1rem;
  }

  .intro-headers h3::before {
    right: 0;
    left: max(1rem, calc(100% - 30ch));
  }

  .intro-headers h3 {
    text-align: right;
  }

  .intro-content {
    border-left: 1px solid white;
    padding: 2em;
  }
  .intro-content div {
    max-width: max-content;
  }
  .intro-content p:first-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 1000px) {
  .intro {
    padding-top: 0;
    margin: 1.5em 1.5em 0;
  }
}
/* 7. Sections */
/* 8. Results */
/* 9. Footer */

/*# sourceMappingURL=pcstyle.css.map */
