/* ---------- Index ---------- */
/*  1. General                 */
@use 'abstracts/rp--colours';
@use 'base/reset';
@use 'components/button';
/*  2. Colours                 */
@use 'base/colours';
/*  3. Typography              */
@use 'base/typography';
/*  4. Navigation styles       */
@use 'layout/nav';
/*  5. Main                    */
@use 'layout/main';
/*  6. Intro                   */
/*  7. Sections                */
@use 'layout/sections';
/*  8. Results                 */
@use 'layout/results';
/*  9. Footer                  */
@use 'layout/footer';
@use 'components/form';
/* --------------------------- */

/* 1. General */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.obj-pos-top {
  object-position: top center;
}

/* 2. Colours */

/* 3. Typography */
p {
  max-width: 60ch;
}
/* 4. Navigation */

/* 5. Main */

/* 6. Intro */

.intro {
  padding-top: 2em;
}

.intro-headers {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 85, 141, 0.5) 0%,
      rgba(189, 85, 141, 0.5) 100%
    ),
    url("../img/robopop/rp-cover-band.jpg");
  background-size: 100% auto;
  background-position: center center;
  padding: 4em 2em 2em;
  border-bottom: var(--clr-light) 2px solid;
  color: var(--clr-white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-svg {
  stroke: var(--clr-light);
  stroke-width: 0.25mm;
  fill: var(--clr-light);
  z-index: 10;
}

.intro-headers h3 {
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
}

.intro-content {
  padding: 1em 2em;
}

.intro-content ol {
  max-width: 60ch;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .intro {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 3em;
  }

  .intro-headers {
    border-bottom: none;
    background-size: auto 100%;
  }

  .intro-headers h2 {
    text-align: right;
    margin-bottom: 1rem;
  }

  .intro-headers h3::before {
    right: 0;
    left: max(1rem, calc(100% - 30ch));
  }

  .intro-headers h3 {
    text-align: right;
  }

  .intro-content div {
    max-width: max-content;
  }
}

@media screen and (min-width: 1000px) {
  .intro {
    padding-top: 0;
    margin: 1.5em 1.5em 0;
  }

  .intro-content {
    padding-top: 0.5em;
  }
}

/* 7. Sections */
.rp-questionaire {
  --clr-questionaire: #f0ebf8;
  border: 3px solid var(--clr-questionaire);
  border-bottom: 6px solid var(--clr-questionaire);
  box-sizing: border-box;
  background: var(--clr-questionaire);
}

/* 9. Results */

/* .results img did not have any styling before adding the result partial */

@media screen and (min-width: 800px) {
  .captions {
    float: right;
    max-width: 33%;
    margin-left: 1em;
    margin-bottom: 0;
    margin-right: 15%;
  }

  .results img {
    max-width: 100%;
    margin: 0 auto;
  }
}
/* 10. Footer */
