/*Write your CSS below!*/

body{
    background-color:#55AAff;
}

h1{
    color:#FFFFFF;
}

td{
    border:2px dashed white;
}

td:hover{
	border:2px solid white;
}


/* Ranking of pets: */

div {
	display: inline-block;
	margin-left: 5px;
	height:100px;
	width:100px;
	border-radius:100%;
	border:2px solid black;
	align:center;
}

#best_friend{
    border:4px solid #00C957;
}

.friend{
    border:2px dashed #008000;
}

.family{
    border:2px dashed #0000FF;
}

.enemy{
    border:2px dashed #FF0000;
}

#archnemesis{
    border:4px solid #CC0000;
}

.round{
    display: inline-block;
	height:100px;
	width:100px;
	border-radius:100%;
}