body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
}

/** Header styles **/

.header {
  background: url("mapWithDice.jpg") no-repeat center center ;
  background-attachment: fixed;
  height: 200px;
  
}

h1 {
  
  color:rgb(80, 160, 240);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9); 
  font-family: 'Uncial Antiqua', serif;
  font-size: 120px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 25%;
}

/** List style **/

h2 {
  background-color:rgb(80, 160, 240);
  background-color:rgba(80, 160, 240, 0.75);
  color: #EEDDBB;
  font-family: Caudex, serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;	
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #444444;
  line-height: 32px;
  font-family: 'Cardo', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #214E34;
  font-family: 'Cardo', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

/* Meny stuff */
/* Listelementen <LI> med knapparna */
#meny ul {
    position: -webkit-sticky; /* Safari */
	position: sticky;
	text-align: center;
	/* Ta bort denna och centra istället. */
    /*margin: 0px 150px;*/	
	margin: 0 auto;
    padding: 15px 0 10px 0;
    /*border-radius: 5px;*/
    border: #D2CACA;
    background: #D2CACA;
    box-shadow: #D2CACA;
	width: 1200px;	
}


#meny li {
    display: inline;
    list-style: none;
}

#meny li a {
    margin: 0 70px 0 70px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    font-family: 'bree_serifregular', Helvetica, Arial, sans-serif;
    font-size: 25px;
    border-radius: 50px;
    /*margin-right: 140px; flyttade detta så det det görs när du sätter margin i början, plus att det görs lika mycket på båda sidor*/
}

#meny li a:hover {
    cursor: pointer;
    background: #EFE8E8;
    color: #707070;
}

#meny a:link,
#meny a:visited {
    color: #707070;
    text-decoration: none;
}

#meny a:active {
    color: #EFE8E8;
}

#meny a#current {
    background: #EFE8E8;
}
