/* 6. About */
.about-intro {
  background-image: url("../img/BgDusk.jpg");
  background-color: var(--clr-overlay-darken);
  background-blend-mode: multiply;
  background-size: auto 100%;
  background-position: center left;
  padding: 2em 2em;
  border-bottom: var(--clr-light) 2px solid;
  color: var(--clr-white);
}

.about-intro h3 {
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
}

.about-intro h3::before {
  content: "";
  background-color: var(--clr-white);
  position: absolute;

  height: 2px;
  left: 2em;
  right: 2em;
  top: -1em;
}

.about-content {
  padding: 2em 2em;
}

.about-content div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.about-btn {
  --btn-clr: var(--clr-light);
  background: var(--clr-primary);
  flex: 0 0 auto;
  margin: 0 auto;
  min-width: 12em;
}

@media screen and (min-width: 800px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-intro {
    border-bottom: none;
    border-right: 1px solid var(--clr-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-intro h2 {
    text-align: right;
    margin-bottom: 1rem;
  }

  .about-intro h3::before {
    right: 0;
    left: max(1rem, calc(100% - 30ch));
  }

  .about-intro h3 {
    text-align: right;
  }

  .about-content {
    border-left: 1px solid var(--clr-light);
    padding: 2em;
  }

  .about-content div {
    max-width: max-content;
  }

  .about-content p {
    text-align: left;
  }

  .about-content p:first-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 2400px) {
  .about-intro {
    background-image: linear-gradient(
        to left,
        transparent 2200px,
        var(--clr-primary-dark) 2504px
      ),
      url("../img/BgDusk.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto auto;
    background-blend-mode: normal;
  }
}
