/* 7. Common for the sections */
.ux {
  padding: 2em 0.5em 4em;
  min-height: 100vh;
}
.educator,
.code {
  padding: 2em 2em 6em;
  min-height: 100vh;
}

.ux img,
.educator img,
.code img {
  border-radius: 0.5em;
}
