/* 5. Intro */
.intro {
  margin-top: 3em;
  padding: 0;
}

.hero {
  position: relative;
  padding-bottom: 10em;
  overflow: hidden;
}

.hero__text {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 2em;
  margin-top: 5em;

  h1 {
    line-height: 1.05;
    text-transform: capitalize;
    margin: 1rem;
  }

  h3 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--clr-light);
    width: 200vw;
    height: 10em;
    top: 0;
    left: -75%;
    transform: rotate(-45deg);
    z-index: -1;
  }
}

.hero__btn {
  --btn-clr: var(--clr-primary);
  background: var(--clr-white);
  flex: 0 0 auto;
  margin: 1rem auto;
  width: max-content;
}

.hero__grid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background-color: var(--clr-primary-dark);
  background-image: linear-gradient(
    135deg,
    var(--clr-white) 45%,
    var(--clr-primary-dark)
  );
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.125em;
  padding: 0.125em;
  min-height: 20em;
}

.hero__tile {
  background-color: var(--clr-white);
  width: 100%;
  aspect-ratio: 1 / 1;
}

@media screen and (min-width: 800px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
  }

  .hero__text {
    margin: 0;
    position: relative;
    justify-items: flex-start;

    h1,
    h3 {
      text-align: left;
    }
    &::before {
      left: -180%;
    }
  }

  .hero__btn {
    margin: 1rem;
  }

  .hero__grid {
    margin-top: auto;
    position: static;
    z-index: 0;
  }
}

@media screen and (min-width: 1000px) {
  .intro {
    background-color: var(--clr-light);
    padding: 10%;
  }

  .hero {
    background-color: var(--clr-white);
    border: var(--clr-primary-dark) 1.5em solid;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 10;
  }

  .hero__text {
    &::before {
      left: -250%;
    }
  }

  .intro::before,
  .intro::after {
    position: absolute;
    font-size: 8rem;
    font-weight: black;
  }

  .intro::before {
    content: "UX/UI Design";
    top: 4rem;
    left: 0;
  }

  .intro::after {
    content: "Educator";
    right: 0;
    bottom: 6rem;
    z-index: 0;
  }
}
