.container-contact1 {
  margin: 1em auto;
  padding: 0;
  max-width: 60ch;
}

.input1 {
  width: 100%;
  font-family: "Roboto", "Work Sans", sans-serif;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5em 1em;
  outline: 0;
  border: 2px solid var(--clr-white);
  &:valid {
    // Hides the label
    background: white;

    & + label {
      color: white;
    }
  }
  &:focus {
    border-color: var(--clr-primary);
    padding: 4px 6px 20px 6px;
  }
  &:focus + label {
    background: var(--clr-primary);
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
    top: 100%;
    margin-top: -16px;
  }

  padding: 12px 12px 12px 12px;
}

textarea.input1 {
  display: block;
  resize: vertical;
  height: 8em;
}

.contact1-form-btn {
  font-size: 1rem;
  text-transform: capitalize;
  --btn-clr: var(--clr-light);
  background: var(--clr-primary);
  width: max-content;
  margin: 1.25em auto 1em;
}

.contact1-form label {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  transition: // not padding
    background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #0005;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
}

.wrap-input1 {
  margin: 1em 0;
  position: relative;
  background: white;
}

@media screen and (min-width: 800px) {
  .contact1-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 1em;

    & * {
      grid-column: 1/-1;
      margin-top: 0;
      margin-bottom: 0;
    }

    .input1-short {
      grid-column: span 1;
    }
  }
}
