.container-contact1 {
  margin: 1em auto;
  padding: 0;
  max-width: 60ch;
}

.wrap-input1 + .wrap-input1 {
  margin-top: 1em;
}

.input1 {
  padding: 0.5em 1em;
  width: 100%;
  font-family: "Roboto", "Work Sans", sans-serif;
}

textarea.input1 {
  resize: vertical;
  height: 5em;
}

.contact1-form-btn {
  font-size: 1rem;
  --btn-clr: var(--clr-light);
  background: var(--clr-primary);
  width: max-content;
  margin: 1em auto;
}
