*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--clr-white);
  font-family: "Roboto", "Work Sans", sans-serif;
  font-weight: 400;
  color: var(--clr-dark);
}

@media screen and (min-width: 1000px) {
  body {
    background: var(--clr-light);
  }
}

img {
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    transition-delay: 0ms !important;
    scroll-behavior: auto !important;
    -webkit-animation-duration: 1 !important;
    -webkit-animation-iteration-count: 1 !important;
  }
}
