:root {
  --clr-black: black;
  --clr-dark: #262626;
  --clr-light: #eee;
  --clr-white: white;
  --clr-primary-dark: #2a3a54;
  --clr-primary: #4a6e9e;
  --clr-primary-light: #cddbec;
  --clr-overlay-brighten: rgba(255, 255, 255, 0.2);
  --clr-overlay-darken: rgba(0, 0, 0, 0.15);
  --clr-overlay-darken-30: rgba(0, 0, 0, 0.3);
}
