:root {
  --clr-black: black;
  --clr-dark: #262626;
  --clr-light: #eee;
  --clr-white: white;
  --clr-primary-dark: #256580;
  --clr-primary: #509bbb;
  --clr-primary-light: #c7e1e9;
  --clr-overlay-brighten: rgba(255, 255, 255, 0.2);
  --clr-overlay-darken: rgba(0, 0, 0, 0.15);
  --clr-overlay-darken-30: rgba(0, 0, 0, 0.3);
}
