:root {
  --clr-black: black;
  --clr-dark: #262626;
  --clr-light: #eee;
  --clr-white: white;
  --clr-primary-dark: #ad5183;
  --clr-primary: #c76e9e;
  --clr-primary-light: #f8e3ee;
  --clr-overlay-brighten: rgba(255, 255, 255, 0.2);
  --clr-overlay-darken: rgba(0, 0, 0, 0.15);
  --clr-overlay-darken-30: rgba(0, 0, 0, 0.3);
}
